<% if logged_in? %>
  <main class="flex flex-col items-center">
    <section class="flex flex-col md:flex-row items-center mt-10 md:space-x-10 px-6">
      <div class="md:w-1/2 text-center md:text-left mb-6 md:mb-0">
        <h1 class="text-5xl font-bold">Waseda Place</h1>
        <p class="text-4xl text-gray-400 mt-4 font-thin">Where rooms meet minds</p>
      </div>
      <img
        src="/hero.png"
        alt="A large lecture hall with many seats and a stage"
        class="rounded-lg md:w-1/2"
      />
    </section>

    <section class="bg-gray-100 w-full py-16 px-6 mt-10">
      <div class="max-w-3xl mx-auto text-center">
        <h2 class="text-4xl text-gray-400 mb-4 font-thin">About</h2>
        <p class="text-lg text-gray-600">
          Explore the rooms in Waseda that you would be able to book using this website
        </p>
      </div>
    </section>

    <section class="w-full py-16 px-6">
      <div class="max-w-5xl mx-auto text-center">
        <h2 class="text-3xl text-gray-400 mb-10 font-thin">Why Waseda Place / Our goals</h2>
        <div class="grid md:grid-cols-2 gap-10 text-left">
          <div class="flex items-start space-x-4">
            <div class="flex items-center h-full">
              <span class="text-8xl text-gray-200 mr-10 font-bold">1</span>
              <p class="text-lg text-gray-600">
                Whenever you miss the reservation for W-space, you can come to Waseda Place to find empty spots for your assignment.
              </p>
            </div>
          </div>
          <div class="flex items-start space-x-4">
            <div class="flex items-center h-full">
              <span class="text-8xl text-gray-200 mr-10 font-bold">2</span>
              <p class="text-lg text-gray-600">
                Our goal is to provide as many empty classrooms or lecture halls as possible so that students would be able to finish their work in the school facilities where they would be able to focus well.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="my-10">
      <a href="<%= booking_index_path %>">
        <button class="booking-button" >Book Now</button>
      </a>
    </section>
  </main>
  <!-- <div class="row"> -->
  <!--   <aside class="col-md-4"> -->
  <!--     <section class="user_info"> -->
  <!--       aaaaaaaaaaaaa -->
  <!--       <%# <%= render 'shared/user_info' %> -->
  <!--     </section> -->
  <!--   </aside> -->
  <!-- </div> -->
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Waseda Place!</h1>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

<% end %>
